build/
output/
*.DS_Store
pkg/linux/**/pkg
Oscilloscope/
*.tar.*
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.zst
*.pkg.tar.*
*.pkg.tar.gz
*.pkg.tar.xz
*.pkg.tar.bz2
*.pkg.tar.zst
*.log
nota.sh
llm-refactor.txt